.memory-game {
  background-color: rgb(247, 247, 255);
  padding: 20px 20px;
  

  &__body {
    width: 525px;
    border-radius: 15px;
    margin: 0 50px;
  }

  &__item {
    margin: 10px;
  }

  &__controls {
    > * {
      margin-bottom: 40px;
    }
  }

  &__results {
    > * {
      margin-bottom: 40px;
    }
  }
}
