.result {
  width: 150px;
  box-shadow: 5px 5px 35px rgba(67, 82, 97, 0.568);
  border-radius: 10px;
  padding: 20px;

  &__header {
    margin-bottom: 10px;
  }

  &__body {
    text-align: center;
  }

  &--active {
    animation-name: shake;
    animation-duration: 0.4s;
    @keyframes shake {
      0% {
        transform: rotate(0deg);
      }
      20% {
        transform: rotate(5deg);
      }
      40% {
        transform: rotate(-5deg);
      }
      60% {
        transform: rotate(5deg);
      }
      80% {
        transform: rotate(-5deg);
      }
      100% {
        transform: rotate(0deg);
      }
    }
  }

}
