.result {
  width: 150px;
  box-shadow: 5px 5px 35px rgba(67, 82, 97, 0.568);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 40px;

  &__header {
    margin-bottom: 10px;
  }

  &__body {
    text-align: center;
  }

}
