.results-table {
  &__item {
    margin: 15px auto;
    padding: 20px;
    border-radius: 7px;

    &--light-green {
      background-color: rgb(124, 255, 92);
    }

    &--light-yellow {
      background-color: rgb(255, 243, 73);
    }

    &--light-pink {
      background-color: rgb(238, 133, 125);
    }

    &--light-purple {
      background-color: rgb(198, 75, 255);
    }
  }
}
