.results-table {
  &__item {
    margin: 15px 20px;
    padding: 20px;
    border-radius: 7px;

    &--light-green {
      background-color: rgb(124, 255, 92);
    }

    &--light-yellow {
      background-color: rgb(255, 243, 73);
    }

    &--light-pink {
      background-color: rgb(238, 133, 125);
    }

    &--light-purple {
      background-color: rgb(198, 75, 255);
    }

    &--active {
      animation-name: result;
      animation-duration: 1000ms;
      animation-fill-mode: forwards;

      @keyframes result {
        0% {
          transform: scale(1);
        }
        100% {
          transform: scale(1.07);
        }
      }

    }
  }
}
