.level-button {
  padding: 10px 30px;
  border-radius: 15px;
  cursor: pointer;

  &--easy {
    box-shadow: 0 0 30px rgb(112, 255, 77);
  }

  &--medium {
    box-shadow: 0 0 30px rgb(255, 252, 60);
  }

  &--hard {
    box-shadow: 0 0 30px rgb(255, 106, 95);
  }

  &:active {
    transform: scale(0.9);
    transition: transform 400ms;
    // box-shadow: 5px 5px 30px rgba(32, 51, 73, 0.829);
  }
}
