.text {
  font-family: 'Roboto', sans-serif;

  &--size-medium {
    font-size: 30px;
  }

  &--size-large {
    font-size: 40px;
  }

  &--color-white {
    color: rgb(255, 255, 255);
  }

  &--color-pink {
    color: rgb(255, 42, 95);
  }

  &--color-dark-blue {
    color: rgb(5, 33, 61);;
  }

  &--cases-uppercase {
    text-transform: uppercase;
  }

  &--weight-bold {
    font-weight: bold;
  }

  &--center {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
