.banner {
  background-color: rgb(247, 247, 255);
  border-radius: 15px;
  margin: auto;

  > * {
    margin: 50px auto;
  }

  &__item {
    width: 300px;
    padding: 30px 10px;
    border-radius: 10px;

    &--light-green {
      background-color: rgb(124, 255, 92);
    }

    &--light-yellow {
      background-color: rgb(255, 243, 73);
    }

    &--light-pink {
      background-color: rgb(238, 133, 125);
    }

    &--light-purple {
      background-color: rgb(198, 75, 255);
    }
  }

}
